# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
tokens/
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Ambiente
.venv
ENV/

# Banco de dados
*.sqlite3
*.db

# Docker
postgres_data/